.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: orange;
  border: 1px solid black;
  margin-left: 1vw;
}

header{
    margin-left: 10vw;
    font-weight: bold;
}
legend{
  margin-left: 10vw;
}

.eventTable tr{
  border: 1px solid black
}
.eventTable td{
  border: 1px solid black
}
.eventTable table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80vw;
}

.eventTable{
  margin-left: 10vw;
  float:left;
}

.eventForm{
  margin-left: 10vw;
  float: left;
  border-collapse: collapse;
}
.eventForm header{
  margin-left: 0vw;
}

.selected{
  background: #80dfff;
}
